<mat-accordion>
    <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
        <mat-expansion-panel-header>
            <mat-panel-title>
                Wind generators
            </mat-panel-title>
            <!-- <mat-panel-description>
           &nbsp;&nbsp;&nbsp;{{panelOpenState ? 'skloni' : 'prikaži'}} polja za izmenu    
        </mat-panel-description> -->
        </mat-expansion-panel-header>

        <div class="wrapper">
            <div class="div1">
                <img src="assets/wind_farm.jpg" class="img" width="300" height="200"/>
            </div>
            <div class="div2">
                <form [formGroup]="powerPlant">
                    <table>
                        <tbody>
                            <tr>
                                <td>
                                    <label for="name">Name: </label>
                                    
                                </td>
                                <td>
                                    <input id="name" type="text" formControlName="name">
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label for="numOfTurbines">Numer of turbines: </label>
                                    
                                </td>
                                <td>
                                    <input id="numOfTurbines" type="number" min="0" style="width: 100px;" formControlName="numOfTurbines">
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label for="area">Blade length: </label>
                                    
                                </td>
                                <td>
                                    <input type="number" min="0" style="width: 100px;" formControlName="bladeLength">
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label for="maxPower">Max power: </label>
                                    
                                </td>
                                <td>
                                    <input type="number" min="0" style="width: 100px;" formControlName="maxPower">MW
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2">
                                    <button (click)="addNewGenerator()">ADD NEW WIND POWERPLANT</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </form>
            </div>
            <div class="div2">
                <table>
                    <thead>
                        <tr>
                            <th>
                                Name
                            </th>
                            <th>
                                Numer of turbines
                            </th>
                            <th>
                                Blade length
                            </th>
                            <th>
                                Max power
                            </th>
                            <th>
                                &nbsp;
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let powerPlant of powerPlantsList;let i = index">
                            <td>
                                {{powerPlant.name}}
                            </td>
                            <td>
                                {{powerPlant.numOfTurbines}}
                            </td>
                            <td>
                                {{powerPlant.bladeLength}}
                            </td>
                            <td>
                                {{powerPlant.maxPower}}
                            </td>
                            <td>
                                <button type="button" class="edit-button" (click)="removePowerPlant(i)"><span class="bi bi-trash"></span></button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </mat-expansion-panel>
</mat-accordion>