<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css">

<mat-accordion>
    <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
        <mat-expansion-panel-header>
            <mat-panel-title>
                Coal generators
            </mat-panel-title>
            <!-- <mat-panel-description>
           &nbsp;&nbsp;&nbsp;{{panelOpenState ? 'skloni' : 'prikaži'}} polja za izmenu    
        </mat-panel-description> -->
        </mat-expansion-panel-header>

        <div class="wrapper">
            <div echarts (chartInit)="onFuelToPowerChartReady($event)" [options]="optionsChart1" class="div1"
                style="height: 350px; width: 350px;"></div>
            <div echarts (chartInit)="onPriceToTonChartReady($event)" [options]="optionsChart2" class="div2"
                style="height: 350px; width: 350px;"></div>
            <div echarts (chartInit)="onTonToPowerChartReady($event)" [options]="optionsChart3" class="div2"
                style="height: 350px; width: 350px;"></div>
        </div>

        <div class="wrapper">
            <div class="col-2" class="div1" style="height: 250px; padding-left: 65px;">
                <form [formGroup]="chart1">
                    <input type="range" min="0" max="1" step="0.05" formControlName="value0"
                        (change)="changeValueChart1(0, $event)" list="tickmarks" />
                    <input type="range" min="0" max="1" step="0.05" formControlName="value1"
                        (change)="changeValueChart1(1, $event)" list="tickmarks" />
                    <input type="range" min="0" max="1" step="0.05" formControlName="value2"
                        (change)="changeValueChart1(2, $event)" list="tickmarks" />
                    <input type="range" min="0" max="1" step="0.05" formControlName="value3"
                        (change)="changeValueChart1(3, $event)" list="tickmarks" />
                    <input type="range" min="0" max="1" step="0.05" formControlName="value4"
                        (change)="changeValueChart1(4, $event)" list="tickmarks" />
                        <select (change)="functionTypeChanged1($event)" formControlName="selector">
                            <option value="true">Quadratic</option>
                            <option value="false">Linear</option>
                        </select>
                </form>
            </div>
            <div class="col-2" class="div2" style="height: 250px;">
                <form [formGroup]="chart2">
                    <input type="range" min="0" max="1" step="0.05" formControlName="value0"
                        (change)="changeValueChart2(0, $event)" list="tickmarks" />
                    <input type="range" min="0" max="1" step="0.05" formControlName="value1"
                        (change)="changeValueChart2(1, $event)" list="tickmarks" />
                    <input type="range" min="0" max="1" step="0.05" formControlName="value2"
                        (change)="changeValueChart2(2, $event)" list="tickmarks" />
                    <input type="range" min="0" max="1" step="0.05" formControlName="value3"
                        (change)="changeValueChart2(3, $event)" list="tickmarks" />
                    <input type="range" min="0" max="1" step="0.05" formControlName="value4"
                        (change)="changeValueChart2(4, $event)" list="tickmarks" />
                    <select (change)="functionTypeChanged2($event)" formControlName="selector">
                        <option value="true">Quadratic</option>
                        <option value="false">Linear</option>
                    </select>
                </form>
            </div>
            <div class="col-2" class="div2" style="height: 250px;">
                <form [formGroup]="chart3">
                    <input type="range" min="0" max="1" step="0.05" formControlName="value0"
                        (change)="changeValueChart3(0, $event)" list="tickmarks" />
                    <input type="range" min="0" max="1" step="0.05" formControlName="value1"
                        (change)="changeValueChart3(1, $event)" list="tickmarks" />
                    <input type="range" min="0" max="1" step="0.05" formControlName="value2"
                        (change)="changeValueChart3(2, $event)" list="tickmarks" />
                    <input type="range" min="0" max="1" step="0.05" formControlName="value3"
                        (change)="changeValueChart3(3, $event)" list="tickmarks" />
                    <input type="range" min="0" max="1" step="0.05" formControlName="value4"
                        (change)="changeValueChart3(4, $event)" list="tickmarks" />
                    <select (change)="functionTypeChanged3($event)" formControlName="selector">
                        <option value="true">Quadratic</option>
                        <option value="false">Linear</option>
                    </select>
                </form>
            </div>
        </div>
        <div class="wrapper">
            <div class="div1">
                <table>
                    <tbody>
                        <tr>
                            <td>
                                Change curve:
                                <select #selectedItem (change)="selectedItemValue(selectedItem.value)">
                                    <option value="-1">All</option>
                                    <option *ngFor="let powerPlant of powerPlantsList; let i = index" [value]="i">
                                        {{powerPlant.name}}
                                    </option>
                                </select>
                                &nbsp;<button class="button-14" (click)="changeGeneratorsGraphCurves()">CHANGE</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <!-- <div class="div1">
                <form [formGroup]="powerPlant">
                    <table>
                        <tbody>
                            <tr>
                                <td>
                                    <label for="name">Name:&nbsp;</label>
                                    <input id="name" type="string" formControlName="name"/>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label for="power">Power output:&nbsp;</label>
                                    <input id="power" type="number" min="0" formControlName="power"/>MW
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label for="co2">CO2 otuput:&nbsp;</label>
                                    <input id="co2" type="number" min="0" formControlName="co2"/>g/kW
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label for="fuel">Coal price:&nbsp;</label>
                                    <input id="fuel" type="number" min="0" formControlName="fuel"/>$ per t
                                </td>
                            </tr>
                            <tr>
                                <button class="button-14" (click)="addNewGenerator()">ADD NEW COAL POWERPLANT</button>
                            </tr>
                        </tbody>
                    </table>
                </form>
            </div> -->
            <div class="div2">
                <table>
                    <thead>
                        <tr>
                            <th>
                                Name
                            </th>
                            <th>
                                Power
                            </th>
                            <th>
                                CO2 output
                            </th>
                            <th>
                                Coal price
                            </th>
                            <th>
                                &nbsp;
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let powerPlant of powerPlantsList;let i = index">
                            <td>
                                {{powerPlant.name}}
                            </td>
                            <td>
                                <input type="number" [(ngModel)]="powerPlant.power" min="0" style="width: 55px;">
                            </td>
                            <td>
                                <input type="number" [(ngModel)]="powerPlant.co2" min="0" style="width: 55px;">
                            </td>
                            <td>
                                <input type="number" [(ngModel)]="powerPlant.fuelPrice" min="0" style="width: 55px;">
                            </td>
                            <td>
                                <!-- <button type="button" class="edit-button" (click)="removePowerPlant(i)"><span class="bi bi-trash"></span></button> -->
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>


        <datalist id="tickmarks">
            <option value="0" label="0"></option>
            <option value="0.1" label="0.1"></option>
            <option value="0.2" label="0.2"></option>
            <option value="0.3" label="0.3"></option>
            <option value="0.4" label="0.4"></option>
            <option value="0.5" label="0.5"></option>
            <option value="0.6" label="0.6"></option>
            <option value="0.7" label="0.7"></option>
            <option value="0.8" label="0.8"></option>
            <option value="0.9" label="0.9"></option>
            <option value="1" label="1"></option>
        </datalist>

    </mat-expansion-panel>
</mat-accordion>