<form [formGroup]="modelSelect">
    <table>
        <tbody>
            <tr>
                <td>
                    <label>Choose model:&nbsp;</label>
                    <select formControlName="model">
                        <option *ngFor="let m of models" [value]="m">
                            {{m}}
                        </option>
                    </select>
                </td>
            </tr>
        </tbody>
    </table>
</form>

<app-coal-generators [powerPlantsList]="coalPowerPlants"></app-coal-generators>
<app-gas-generators [powerPlantsList]="gasPowerPlants"></app-gas-generators>
<app-solar-generators [powerPlantsList]="solarPowerPlants"></app-solar-generators>
<app-wind-generators [powerPlantsList]="windPowerPlants"></app-wind-generators>
<app-hydro-generators [powerPlantsList]="hydroPowerPlants"></app-hydro-generators>

<button (click)="optimize()">OPTIMIZE</button>

<div class="wrapper">
    <div class="div1">
        <table>
            <tbody>
                <tr>
                    <td>
                        REZ
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>