<mat-accordion>
    <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
        <mat-expansion-panel-header>
            <mat-panel-title>
                Solar generators
            </mat-panel-title>
            <!-- <mat-panel-description>
           &nbsp;&nbsp;&nbsp;{{panelOpenState ? 'skloni' : 'prikaži'}} polja za izmenu    
        </mat-panel-description> -->
        </mat-expansion-panel-header>

        <div class="wrapper">
            <div class="div1">
                <img src="assets/images.png" class="img"/>
            </div>
            <div class="div2">
                <form [formGroup]="powerPlant">
                    <table>
                        <tbody>
                            <tr>
                                <td>
                                    <label for="name">Name: </label>
                                    
                                </td>
                                <td>
                                    <input id="name" type="text" formControlName="name">
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label for="tilt-angle">Tilt angle: </label>
                                    
                                </td>
                                <td>
                                    <input id="tilt-angle" type="number" min="0" max="90" style="width: 100px;" formControlName="tiltAngle">deg
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label for="area">Area: </label>
                                    
                                </td>
                                <td>
                                    <input type="number" min="0" style="width: 100px;" formControlName="area">&#x33A1;
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label for="efficiency">Efficiency: </label>
                                    
                                </td>
                                <td>
                                    <input type="number" min="0" style="width: 100px;" formControlName="efficiency">%
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2">
                                    <button (click)="addNewGenerator()">ADD NEW SOLAR POWERPLANT</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </form>
            </div>
            <div class="div2">
                <table>
                    <thead>
                        <tr>
                            <th>
                                Name
                            </th>
                            <th>
                                Tilt angle
                            </th>
                            <th>
                                Area
                            </th>
                            <th>
                                Efficiency
                            </th>
                            <th>
                                &nbsp;
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let powerPlant of powerPlantsList;let i = index">
                            <td>
                                {{powerPlant.name}}
                            </td>
                            <td>
                                {{powerPlant.tiltAngle}}
                            </td>
                            <td>
                                {{powerPlant.area}}
                            </td>
                            <td>
                                {{powerPlant.efficiency}}
                            </td>
                            <td>
                                <button type="button" class="edit-button" (click)="removePowerPlant(i)"><span class="bi bi-trash"></span></button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </mat-expansion-panel>
</mat-accordion>