<table>
    <tbody>
        <tr>
            <td>
                <label>Date from:</label>
                <input type="date" id="from" value="2018-01-01" placeholder="To" min="2018-01-01"
                    max="2021-12-31" />
            </td>
        </tr>
        <tr>
            <td>
                <label>Date to:</label>
                <input type="date" id="to" value="2018-01-01" placeholder="To" min="2018-01-01" max="2021-12-31" />
            </td>
        </tr>
        <tr>
            <td>
                <input type="submit" class="button-14" value="TRAIN" (click)="trainModel()"/>
            </td>
        </tr>
    </tbody>
</table>