<form [formGroup]="dates">
    <table>
        <tbody>
            <tr>
                <td>
                    <label>Date from:</label>
                    <input type="date" id="dateFrom" value="2018-01-01" min="2018-01-01"
                        max="2021-12-31" formControlName="dateFrom"/>
                </td>
            </tr>
            <tr>
                <td>
                    <label>Date to:</label>
                    <input type="date" id="dateTo" value="2018-01-01" min="2018-01-01" max="2021-12-31" formControlName="dateTo"/>
                </td>
            </tr>
            <tr>
                <td>
                    <button class="button-14" (click)="trainModel()">TRAIN</button>
                </td>
            </tr>
        </tbody>
    </table>
</form>